<h1>Coaching#ask</h1>

<p>What is your question ? </p>

<form action="/answer">
  <label for="question">Speak to your coach</label>
  <br>
  <input type="text" id="question" name="alpha" placeholder="Katia?">
  <input type="submit" value="Go on!">
</form>


